.page-wrapper{
  margin-right: auto; 
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px; 
  padding-left:  10px;
}
body{
  background-color:#beccbf ;
}
h1{
  color:#1c4027;
}
#userDiv{
  background: #dddddd;
  border: 3px solid black;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
#listDiv{
  background: #dddddd;
  border: 3px solid black;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
#addListItem{
  position: relative;
  left: 365px;
}
.clear{
  clear:both;
}
#title{
  margin-top:50px;
  margin-bottom: 50px;
}

